{
  "trailingComma": "es5",
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "useTabs": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.ya?ml",
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "useTabs": true
      }
    }
  ]
}
